<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:spring-*.xml
        </param-value>
    </context-param>
    <!-- Spring 监听器 -->
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <!-- 字符编码过滤器-->
    <filter>
        <filter-name> encodingFilter</filter-name>
        <filter-class>
            org.springframework.web.filter.CharacterEncodingFilter
        </filter-class>
        <init-param>
            <param-name> encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>


    <!-- Spring MVC Servlet -->
    <servlet>
        <servlet-name>Spring-Servlet</servlet-name>
        <servlet-class> org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                classpath:spring-*.xml
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Spring-Servlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Spring-Servlet</servlet-name>
        <url-pattern>*.shtml</url-pattern>
    </servlet-mapping>



    <!-- 图片验证码配置开始 -->
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>com.jeecg.servlet.ImageServlet</servlet-class>
        <init-param>
            <param-name>width</param-name>
            <param-value>65</param-value>
        </init-param>
        <init-param>
            <param-name>height</param-name>
            <param-value>23</param-value>
        </init-param>
        <init-param>
            <param-name>codeCount</param-name>
            <param-value>4</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>
    <!-- 图片验证码配置结束 -->


    <welcome-file-list>
        <welcome-file>view/login.jsp</welcome-file>
    </welcome-file-list>
</web-app>