<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeecg.dao.SysMenuBtnDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.jeecg.entity.SysMenuBtn" >
	<result column="id" property="id"/>
	<result column="menuid" property="menuid"/>
	<result column="btnName" property="btnName"/>
	<result column="btnType" property="btnType"/>
	<result column="actionUrls" property="actionUrls"/>
</resultMap>
       
<!-- sys_menu_btn table all fields -->
<sql id="Base_Column_List" >
	 id,menuid,btnName,btnType,actionUrls
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id =  #{id}
	</if>
	<if test="menuid != null" >
	    and menuid =  #{menuid}
	</if>
	 	<if test="btnName != null and btnName != ''" >
	    and btnName =  #{btnName}
	</if>
	 	<if test="btnType != null and btnType != ''" >
	    and btnType =  #{btnType}
	</if>
	 	<if test="actionUrls != null and actionUrls != ''" >
	    and actionUrls =  #{actionUrls}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey>
  insert into sys_menu_btn(id,menuid,btnName,btnType,actionUrls)
 values(#{id},#{menuid},#{btnName},#{btnType},#{actionUrls})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update sys_menu_btn set menuid=#{menuid},btnName=#{btnName},btnType=#{btnType},actionUrls=#{actionUrls} where id=#{id}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update sys_menu_btn set 
	<trim  suffixOverrides="," >
	<if test="menuid != null  ">
		menuid=#{menuid},
	</if>
	<if test="btnName != null  and btnName != '' ">
		btnName=#{btnName},
	</if>
	<if test="btnType != null  and btnType != '' ">
		btnType=#{btnType},
	</if>
	<if test="actionUrls != null  and actionUrls != '' ">
		actionUrls=#{actionUrls},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from sys_menu_btn where id = #{id}
</delete>

<!-- 删除记录 -->
<delete id="deleteByMenuid" parameterType="Object">
	delete 	 from sys_menu_btn where menuid = #{id}
</delete>
 
<!-- 根据id查询 菜单按钮 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from sys_menu_btn where id = #{id}
</select>


<!-- 查询所有菜单按钮 -->
<select id="queryByAll"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" />  from sys_menu_btn
</select>


<!-- 根据menuid查询 菜单按钮 -->
<select id="queryByMenuid"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from sys_menu_btn where menuid = #{menuid}
</select>

<!-- 根据menuUrl查询 菜单按钮 -->
<select id="queryByMenuUrl"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	from sys_menu_btn b WHERE EXISTS (
		SELECT 1 FROM sys_menu m WHERE  m.id = b.menuid AND IFNULL(m.deleted,0) = 0 AND   m.url = #{url}
	)
</select>


<!-- 菜单按钮 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from sys_menu_btn 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询菜单按钮列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from sys_menu_btn 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>


<!-- 根据用户id查询按钮 -->
<select id="getMenuBtnByUser"  resultMap="BaseResultMap" parameterType="Object">
	SELECT DISTINCT * FROM sys_menu_btn b
	WHERE EXISTS (
		 SELECT * FROM sys_role_rel r 
		 WHERE r.objId = b.id AND r.relType = 2
		 AND EXISTS ( 
			SELECT 1 FROM sys_role_rel u WHERE u.roleId = r.roleId  AND u.relType = 1 AND u.objId =#{userId}
		 )
	)
</select>
  	
</mapper>   
