<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeecg.dao.SysUserDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.jeecg.entity.SysUser" >
	<result column="id" property="id"/>
	<result column="email" property="email"/>
	<result column="pwd" property="pwd"/>
	<result column="nickName" property="nickName"/>
	<result column="state" property="state"/>
	<result column="loginCount" property="loginCount"/>
	<result column="loginTime" property="loginTime"/>
	<result column="deleted" property="deleted"/>
	<result column="createTime" property="createTime"/>
	<result column="updateTime" property="updateTime"/>
	<result column="createBy" property="createBy"/>
	<result column="updateBy" property="updateBy"/>
	<result column="superAdmin" property="superAdmin"/>
</resultMap>
       
<!-- sys_user table all fields -->
<sql id="Base_Column_List" >
	 id,email,pwd,nickName,state,loginCount,loginTime,deleted,createTime,updateTime,createBy,updateBy,superAdmin
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id =  #{id}
	</if>
	 	<if test="email != null and email != ''" >
	     and email like CONCAT('%', #{email}, '%')
	</if>
	 <if test="nickName != null and nickName != ''" >
	    and nickName like CONCAT('%', #{nickName}, '%')
	</if>
	<if test="state != null" >
	    and state =  #{state}
	</if>
	<if test="loginCount != null" >
	    and loginCount =  #{loginCount}
	</if>
	<if test="loginTime != null" >
	    and loginTime =  #{loginTime}
	</if>
	<if test="deleted != null" >
	    and deleted =  #{deleted}
	</if>
	<if test="createTime != null" >
	    and createTime =  #{createTime}
	</if>
	<if test="updateTime != null" >
	    and updateTime =  #{updateTime}
	</if>
	<if test="createBy != null" >
	    and createBy =  #{createBy}
	</if>
	<if test="updateBy != null" >
	    and updateBy =  #{updateBy}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey>
  insert into sys_user(id,email,pwd,nickName,state,loginCount,loginTime,deleted,createTime,updateTime,createBy,updateBy)
 values(#{id},#{email},#{pwd},#{nickName},#{state},#{loginCount},#{loginTime},#{deleted},now(),now(),#{createBy},#{updateBy})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update sys_user set email=#{email},pwd=#{pwd},nickName=#{nickName},state=#{state},loginCount=#{loginCount},loginTime=#{loginTime},deleted=#{deleted},updateTime=now(),createBy=#{createBy},updateBy=#{updateBy} where id=#{id}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update sys_user set 
	<trim  suffixOverrides="," >
	<if test="email != null  and email != '' ">
		email=#{email},
	</if>
	<if test="pwd != null  and pwd != '' ">
		pwd=#{pwd},
	</if>
	<if test="nickName != null  and nickName != '' ">
		nickName=#{nickName},
	</if>
	<if test="state != null  ">
		state=#{state},
	</if>
	<if test="loginCount != null  ">
		loginCount=#{loginCount},
	</if>
	<if test="loginTime != null  ">
		loginTime=#{loginTime},
	</if>
	<if test="deleted != null  ">
		deleted=#{deleted},
	</if>
	<if test="createTime != null  ">
		createTime=#{createTime},
	</if>
	<if test="updateTime != null  ">
		updateTime=#{updateTime},
	</if>
	<if test="createBy != null  ">
		createBy=#{createBy},
	</if>
	<if test="updateBy != null  ">
		updateBy=#{updateBy},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from sys_user where id = #{id}
</delete>
 
<!-- 根据id查询 系统用户 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from sys_user where id = #{id}
</select>

<!-- 系统用户 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from sys_user 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询系统用户列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from sys_user 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
  	
<!-- 用于登录检查 -->
<select id="queryLogin" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from sys_user 
	where email=#{email} and pwd=#{pwd}
</select>

<!-- 用于登录检查 -->
<select id="getUserCountByEmail" resultType="int"  parameterType="Object">
	select count(1)
	from sys_user where email=#{email}
</select>
</mapper>   
