<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scott.dao.goodsKind.TGoodsKindDao" >
	<!-- Result Map-->
	<resultMap id="BaseResultMap" type="scott.entity.goodsKind.TGoodsKind" >
		<result column="id" property="id"/>
		<result column="gooddskindname" property="gooddskindname"/>
		<result column="price" property="price"/>
		<result column="isFixedweight" property="isFixedweight"/>
		<result column="weightformat" property="weightformat"/>
		<result column="weight" property="weight"/>
		<result column="remark" property="remark"/>
	</resultMap>

	<!-- t_goods_kind table all fields -->
	<sql id="Base_Column_List" >
		id, gooddsKindName, price, isFixedweight, remark, weightformat, weight
	</sql>


	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim  suffixOverrides="," >
			<if test="id != null and id != ''" >
				and id =  #{id}
			</if>
			<if test="gooddskindname != null and gooddskindname != ''" >
				and gooddskindname =  #{gooddskindname}
			</if>
			<if test="price != null and price != ''" >
				and price =  #{price}
			</if>
			<if test="isFixedweight != null and isFixedweight != ''" >
				and isFixedweight =  #{isFixedweight}
			</if>
			<if test="weightformat != null and weightformat != ''" >
				and weightformat =  #{weightformat}
			</if>
			<if test="weight != null and weight != ''" >
				and weight =  #{weight}
			</if>
			<if test="remark != null and remark != ''" >
				and remark =  #{remark}
			</if>
		</trim>
	</sql>


	<!-- 插入记录 -->
	<insert id="add" parameterType="Object" >
		insert into t_goods_kind(id,gooddskindname,price,isFixedweight,remark,weightformat,weight)
		values(#{id},#{gooddskindname},#{price},#{isFixedweight},#{remark},#{weightformat},#{weight})
	</insert>

	<!-- 根据id，修改记录-->
	<update id="update" parameterType="Object" >
		update t_goods_kind set gooddskindname=#{gooddskindname},price=#{price},isFixedweight=#{isFixedweight},remark=#{remark},weightformat=#{weightformat},weight=#{weight}  where id=#{id}
	</update>

	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateBySelective" parameterType="Object" >
		update t_goods_kind set
		<trim  suffixOverrides="," >
			<if test="gooddskindname != null  ">
				gooddskindname=#{gooddskindname},
			</if>
			<if test="price != null  ">
				price=#{price},
			</if>
			<if test="isFixedweight != null  ">
				isFixedweight=#{isFixedweight},
			</if>
			<if test="remark != null  ">
				remark=#{remark},
			</if>
			<if test="weightformat != null  ">
				weightformat=#{weightformat},
			</if>
			<if test="weight != null  ">
				weight=#{weight},
			</if>
		</trim> where id=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete 	 from t_goods_kind where id = #{id}
	</delete>

	<!-- 根据id查询 tGoodsKind -->
	<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from t_goods_kind where id = #{id}
	</select>

	<!-- tGoodsKind 列表总数-->
	<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
		select count(1) from t_goods_kind
		<include refid="Example_Where_Clause"/>
	</select>

	<!-- 查询tGoodsKind列表 -->
	<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
		select
		<include refid="Base_Column_List"/>
		from t_goods_kind
		<include refid="Example_Where_Clause"/>


	</select>

</mapper>
