<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scott.dao.ingoods.InGoodsDao" >
<!-- Result Map-->
<resultMap id="BaseResultMap" type="scott.entity.ingoods.InGoods" >
	<result column="id" property="id"/>
	<result column="opertype" property="opertype"/>
	<result column="warehouseid" property="warehouseid"/>
	<result column="createtime" property="createtime"/>
	<result column="goodskindid" property="goodskindid"/>
	<result column="nums" property="nums"/>
	<result column="peopleid" property="peopleid"/>
	<result column="status" property="status"/>
	<result column="details" property="details"/>
	<result column="remark" property="remark"/>
	<result column="price" property="price"/>
	<result column="peopleid" property="peopleid"/>
	<result column="status" property="status"/>
	<result column="details" property="details"/>
	<result column="remark" property="remark"/>
	<result column="warehouseName" property="warehouseName"/>
	<result column="name" property="name"/>
	<result column="gooddsKindName" property="gooddsKindName"/>
</resultMap>
       
<!-- t_records table all fields -->
<sql id="Base_Column_List" >
	  r.id,r.opertype,r.warehouseid,r.createtime,r.goodskindid,r.nums,r.price,r.peopleid,r.status,r.details,r.remark,w.warehouseName,c.name,g.gooddsKindName
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1 and r.opertype=0 and r.status &lt;2
<trim  suffixOverrides="," >
	<if test="id != null and id != ''" >
	    and r.id =  #{id}
	</if>
	<if test="warehouseid != null and warehouseid != ''" >
	    and r.warehouseid =  #{warehouseid}
	</if>
	<if test="createtime != null and createtime != ''" >
	    and r.createtime =  #{createtime}
	</if>
	<if test="goodskindid != null and goodskindid != ''" >
	    and r.goodskindid =  #{goodskindid}
	</if>
	<if test="nums != null and nums != ''" >
	    and r.nums =  #{nums}
	</if>
	<if test="peopleid != null and peopleid != ''" >
	    and r.peopleid =  #{peopleid}
	</if>
	<if test="details != null and details != ''" >
	    and r.details =  #{details}
	</if>
	<if test="remark != null and remark != ''" >
	    and r.remark =  #{remark}
	</if>
	<if test="price != null and price != ''" >
	    and r.price =  #{price}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  insert into t_records(id,opertype,warehouseid,createtime,goodskindid,nums,peopleid,status,details,remark,price)
 values(#{id},#{opertype},#{warehouseid},#{createtime},#{goodskindid},#{nums},#{peopleid},#{status},#{details},#{remark},#{price})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update t_records set opertype=#{opertype},warehouseid=#{warehouseid},goodskindid=#{goodskindid},nums=#{nums},peopleid=#{peopleid},status=#{status},details=#{details},remark=#{remark},price=#{price} where id=#{id}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update t_records set 
	<trim  suffixOverrides="," >
	<if test="opertype != null  ">
		opertype=#{opertype},
	</if>
	<if test="warehouseid != null  ">
		warehouseid=#{warehouseid},
	</if>
	<if test="createtime != null  ">
		createtime=#{createtime},
	</if>
	<if test="goodskindid != null  ">
		goodskindid=#{goodskindid},
	</if>
	<if test="nums != null  ">
		nums=#{nums},
	</if>
	<if test="peopleid != null  ">
		peopleid=#{peopleid},
	</if>
	<if test="status != null  ">
		status=#{status},
	</if>
	<if test="details != null  ">
		details=#{details},
	</if>
	<if test="remark != null  ">
		remark=#{remark},
	</if>
	<if test="price != null  ">
		price=#{price},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from t_records where id = #{id}
</delete>
 
<!-- 根据id查询 InGoods -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" />
	from t_records r,t_contact_person c ,t_warehouse w ,t_goods_kind g where r.id = #{id} AND r.warehouseId = w.id AND r.peopleId = c.id AND r.goodskindid = g.id
</select>

<!-- InGoods 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from t_records r
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询InGoods列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select  r.id,r.opertype,r.warehouseid,r.createtime,r.goodskindid,r.nums,r.peopleid,r.status,w.warehouseName,c.name,g.gooddsKindName
	from t_records r,t_contact_person c ,t_warehouse w ,t_goods_kind g
	<include refid="Example_Where_Clause"/>
	and r.warehouseId = w.id and r.peopleId = c.id and r.goodsKindId = g.id
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
  	
</mapper>   
